body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/*nav-bar*/

.nav-list {
    font-size: 13px;
    line-height: 15px;
    margin: 0;
    background: #464547;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0;
}
.navbar-item {
    list-style: none;
    margin-right: 30px;
}
.navbar-item a {
    text-decoration: none;
   color: #FFFDFD;
    font-family: 'Roboto', sans-serif;

}

.nav-button {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 40px;
    background: #2A1D17;
    color: #FFFEFE;
    border-radius: 2px;
    border: none;
    font-family: 'Roboto', sans-serif;
    margin-right: 70px;
    margin-left: 20px;
}
/*nav-bar end*/