body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/*nav-bar*/

.nav-list {
    font-size: 13px;
    line-height: 15px;
    margin: 0;
    background: #464547;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0;
}
.navbar-item {
    list-style: none;
    margin-right: 30px;
}
.navbar-item a {
    text-decoration: none;
   color: #FFFDFD;
    font-family: 'Roboto', sans-serif;

}

.nav-button {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 40px;
    background: #2A1D17;
    color: #FFFEFE;
    border-radius: 2px;
    border: none;
    font-family: 'Roboto', sans-serif;
    margin-right: 70px;
    margin-left: 20px;
}
/*nav-bar end*/

/*header slider*/
.slider-container {
    position: relative;
}

.slider-toggler-left{
    cursor: pointer;
    position: absolute;
   background-image: url("img/Polygon.svg") ;
    width: 40px;
    height: 49px;
    top: 300px;
    left: 50px;
}
.slider-toggler-right {
    cursor: pointer;
    position: absolute;
    background-image: url("img/Polygon2.svg") ;
    width: 37px;
    height: 49px;
    top: 300px;
    right: 50px;
}
.slider-dots {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 12px;
    left: 0;
    right: 0;
    text-align: center;

}
.slider-dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background: rgba(138, 138, 138, 0.8);

    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background: rgba(255, 253, 253, 0.8);
}
.dot:hover {
    background: rgba(255, 253, 253, 0.8);
}

.fade {
    animation-name:fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}