
* {
    margin: 0;
    padding: 0;
}
html { overflow-x: hidden; }
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}


/*nav-bar*/

.nav-list {
    font-size: 13px;
    line-height: 15px;
    margin: 0;
    background: #464547;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0;
}

.navbar-item {
    list-style: none;
    margin-right: 30px;
}

.navbar-item a {
    text-decoration: none;
    color: #FFFDFD;
    font-family: 'Roboto', sans-serif;

}

.nav-button {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 40px;
    background: #2A1D17;
    color: #FFFEFE;
    border-radius: 2px;
    border: none;
    font-family: 'Roboto', sans-serif;
    margin-right: 70px;
    margin-left: 20px;
}

/*nav-bar end*/

/*header slider*/
.slider-container {
    position: relative;
}

.text {
    color: #f2f2f2;
    max-width: 50%;
    font-weight: bold;
    position: absolute;
    top: 162px;
    left: 210px;
    width: 100%;
}
.text > h1 {
    margin: 0;
    font-size: 96px;
    line-height: 85px;
}
.text > p {

    font-size: 30px;
    line-height: 30px;
    margin-top: 25px;

}

.slider-toggler-left {
    cursor: pointer;
    position: absolute;
    background-image: url("img/Polygon.svg");
    width: 40px;
    height: 49px;
    top: 300px;
    left: 50px;
}

.slider-toggler-right {
    cursor: pointer;
    position: absolute;
    background-image: url("img/Polygon2.svg");
    width: 37px;
    height: 49px;
    top: 300px;
    right: 50px;
}

.slider-dots {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 12px;
    left: 0;
    right: 0;
    text-align: center;

}

.slider-dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background: rgba(138, 138, 138, 0.8);

    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background: rgba(255, 253, 253, 0.8);
}

.dot:hover {
    background: rgba(255, 253, 253, 0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*header end*/

/*main*/

main {
    background: #E5E5E5;
    margin: auto;
    max-width: 90%;
    margin-top: 100px;
}
.section-doors {
    background: #DEAE83;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    /*align-items: center;*/
    position: relative;
}
.section-doors-left {
    flex-direction: row-reverse;
}
.door-image-right {
    position: absolute;
    right: 0;
    top: -30px;
    bottom: -35px;
}
.door-image-left {
    position: absolute;
    left: 0;
    top: -30px;
    bottom: -35px;
}

.doors-text {
    padding-top: 55px;
    margin-left: 110px;
    margin-bottom: 15px;
    max-width: 600px;

}
.section-doors h3 {
    color: #FFFDFD;
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;

    margin-bottom: 15px ;
}
.section-doors p{
    font-size: 14px;
    line-height: 21px;
}
.section-doors-left p {
    padding-bottom: 90px;
}
.section-doors-left > .doors-text {
    padding-right: 124px;
}
.pros {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 46px;
}
.feature-circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FEFEFF;
    text-align: center;
    margin-right: 40px;

}
.feature-text {
    color: #FFFBFB;
}


